# Dependencies
node_modules/

# Build output
# dist/  -- temporarily included for Hostinger deployment

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Prisma generated
prisma/generated/
